*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:#ffffff;
    text-align: center;
}

a{
    margin-right: 5%;
    text-decoration: none;
}

.facebook{
    color: #ffffff;
    background-color: #3b5998;
    padding: 9px 12px;
    border-radius: 80%;
    margin-left: 5rem;
}

.twitter{
    color: #ffffff;
    background-color:#19a0f1;
    padding: 8px 8px;
    border-radius: 80%;
}

.google-plus{
    color: #ffffff;
    background-color: #da4936;
    padding: 8px 6px;
    border-radius: 80%;
}

.vkontakte{
    color: #ffffff;
    background-color: #0077ff;
    padding: 8px 9px;
    border-radius: 80%;
}

.odnaklassniki{
    color: #ffffff;
    background-color: #ff9800;
    padding: 8px 11px;
    border-radius: 80%;
}

.pinterest{
    color: #ffffff;
    background-color: #c00;
    padding: 8px 10px;
    border-radius: 80%;
}

.mail{
    color: #ffffff;
    background-color: #164685;
    padding: 8px 10px;
    border-radius: 80%;
}

.header{
    margin-bottom: 20px;
}


